In [14]:
import pandas as pd
import zipfile

In [8]:
df = pd.read_csv(r'C:\Users\Admin\PycharmProjects\scientificProject\notebooks\data_wrangling\Lesson_2\bestofrt.tsv', sep='\t')
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [17]:
with zipfile.ZipFile(r'C:\Users\Admin\PycharmProjects\scientificProject\notebooks\data_wrangling\Lesson_2\rt-html.zip', 'r') as myzip:
    myzip.extractall()

In [18]:
from bs4 import BeautifulSoup

In [20]:
with open(r'C:\Users\Admin\PycharmProjects\scientificProject\notebooks\data_wrangling\Lesson_2\rt_html\et_the_extraterrestrial.html') as file:

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_25272/956691212.py, line 1)